body{
    background-color: #5f5455;

}

.position-content{
    position: absolute;
    top: 50%;
    align-content: center;
}

.app-name{
    margin: 0 0 0 10px;
}

.nav-color{
    background-color: #5f5050;
}

.app-icon{
    background-color: #c4c4c4;
    height: 40px;
}