{% extends "base.html" %} {% block content %}
<div class="container position-content center-align ">
  <div class="row offset-s6">
    <div class="col s4 " id="clock">
      <div class=" app-icon"></div>
    </div>
    <div class="col s4 " id="calculator">
      <div class=" app-icon"></div>
    </div>
    <div class="col s4 " id="weather">
      <div class=" app-icon"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s4 " id="notes">
      <div class=" app-icon"></div>
    </div>
    <div class="col s4 " id="calendar">
      <div class=" app-icon"></div>
    </div>
    <div class="col s4 " id="map">
      <div class=" app-icon"></div>
    </div>
  </div>
</div>

{% endblock %}
